<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-globe"></i> {{ heading_title }}</h3>
  </div>
  <div class="panel-body">
    <div id="vmap" style="width: 100%; height: 260px;"></div>
  </div>
</div>
<link type="text/css" href="catalog/view/javascript/jquery/jqvmap/jqvmap.css" rel="stylesheet" media="screen" />
<script type="text/javascript" src="catalog/view/javascript/jquery/jqvmap/jquery.vmap.js"></script> 
<script type="text/javascript" src="catalog/view/javascript/jquery/jqvmap/maps/jquery.vmap.world.js"></script> 
<script type="text/javascript"><!--
$(document).ready(function() {		
    $('#vmap').vectorMap({
            map: 'world_en',
            backgroundColor: '#FFFFFF',
            borderColor: '#FFFFFF',
            color: '#9FD5F1',
            hoverOpacity: 0.7,
            selectedColor: '#666666',
            width: 900,
            enableZoom: true,
            showTooltip: true,
            /*values: data,*/
            normalizeFunction: 'polynomial',
            zoomMin: 2,
            focusOn: {
                x: 0.5,
                y: 0.5,
                scale: 2
            }
    });				
});
//--></script> 