.so-page-builder .container-fluid{padding:0; overflow:hidden;}.so-page-builder .container{padding:0; overflow:hidden;}.so-page-builder section{overflow:hidden;}
.row_gw42{background-image:url('../../../../../image/catalog/home/anasayfa1block.jpg');background-repeat:no-repeat; background-position:center center; background-attachment:fixed ;background-size:cover; overflow:hidden;}

.row_f5k2{background-image:url('../../../../../image/catalog/home/anasayfa2block.jpg');background-repeat:no-repeat; background-position:center center; background-attachment:fixed ;background-size:cover; overflow:hidden;}

.row_mfn5{background-image:url('../../../../../image/catalog/home/anasayfa3block.jpg');background-repeat:no-repeat; background-position:center center; background-attachment:fixed ;background-size:cover; overflow:hidden;}

